body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  user-select: none;
}


:root {
  --main-blue: #538ff7;
  --main-yellow: #f6bd41;
  --main-red: #ec5e4f;
  --main-black: #121215;
  --main-green: #65b867;
  --main-white: #f8f9fa;
  --main-gray: rgb(238, 235, 235);
}

#tech-event {
  color: var(--main-blue);
}

#developers {
  color: var(--main-red);
}

.header {
  font-weight: 800;
  max-width: 380px;
  font-size: 3.5rem;
}

.main-content {
  margin-top: 4rem;
  justify-content: space-around;
  margin-left: 6rem;
}

.watch_party {
  border-radius: 25%;
  margin-top: 5.7rem;
  margin-right: 2rem;
}

/* btn design */
#register {
  width: 10rem;
  padding: 0.5rem;
  border: none;
  color: #477cd8;
  border-radius: 2rem;
  letter-spacing: 1px;
  background-color: #dedfe0;
}

h2 {
  margin-top: 3px;
}

#data {
  font-size: 1.3rem;
  font-weight: 300;
  color: gray;}

#location {
  max-width: 600px;
}

.details {
  margin-top: 4rem;
  margin-left: 6rem;
}

.detailsImg {
  border-radius: 50px 50px 50px 50px;
}

.detailsSec {
  max-width: 550px;
  margin-left: 60px;
}

.tech {
  margin-left: 6rem;
  margin-top: 4rem;
}

p {
  margin-top: 2rem;
}
.icons {
  justify-content: space-evenly;
}
.boxes {
  border-radius: 100%;
  width: 100px;
  min-height: 100px;
  background-color: var(--main-gray);
}

.footer {
  background-color: rgb(233, 230, 230);
  width: 100%;
  height: 200px;
  /* position: fixed; */
  bottom: 0;
}
.footer-content {
  margin-left: 4rem;
  margin-top: 4rem;
  /* padding-top: 2rem; */
  padding-right: 4rem;
}

.footer-links {
  margin-left: 2rem;
}

.googledev {
  margin-left: 41%;
}

.googledevimg {
  border: 1px solid var(--main-gray);
  padding: 15px;
  border-radius: 20px;
  margin-left: 2rem;
}

.venue-text {
  margin-left: 4rem;
  font-size: 1.2rem;
}

.schedule {
  margin-left: 6rem;
}

.box-schedule {
  margin-left: 10rem;
  background-color: var(--main-gray);
  width: 900px;
  border-radius: 1px;
  /* height: 600px; */
  border-left: 3px solid var(--main-blue);
  position: absolute;
}

.schd {
  display: flex;
  margin-top: 3rem;
  margin-left: 5rem;
}

#time-stamp {
  margin-top: 3rem;
  list-style: none;
  margin-left: 2rem;
}

.schd-content
{
  /* margin-left: 2rem; */
  /* margin-top: 2rem; */
  padding: 25px;
  margin-top: -10px;
}

.schd-p
{
  font-size: 0.9rem;
}

/* Speakers Style */

.speakers
{
  padding: 6rem;

  margin-top: 4rem;
}

.mt-4{
  margin-top: 100px;
}

.speaker-profile{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: var(--main-black);
}

.sp-name,.sp-title,.sp-brand
{
  /* justify-content: center; */
  margin-left: 2rem;
}

.sp-name{
  margin-top: 10px;
}

.sp-title{
  color: gray;
}

.sp-brand{
  font-weight: 400;
}
.profile-img{
  /* margin-left: 8rem; */
  padding-left: 20%;
}

.partners , .team 
{
  padding: 6rem;
}